
.list {
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px ;
    padding: 0 30px;
}

.item {
    padding: 20px;
    transition: box-shadow .3s;
    color: black;
}

.item:hover {
    background-color: aliceblue;
    box-shadow: 10px 5px 5px gray !important;
}
a:link {
    
    text-decoration: none !important;
}

input {
    margin: 3px;
}



.carousel {
    width: 600px;
    height: 600px;
    margin: auto;
}